<h2>inscription Vendeur</h2>
<div *ngIf="successMessage" style="color: green; margin-bottom: 10px;">
  {{ successMessage }}
</div>
<div *ngIf="errorMessage" style="color: red; margin-bottom: 10px;">
  {{ errorMessage }}
</div>

<div class="container">
    
<form [formGroup]="sellerForm" (ngSubmit)="onSubmit()">
    <label for="nom">Nom :</label>
    <input type="text" formControlName="nom" placeholder="nom">
    <p *ngIf="sellerForm.get('nom')?.invalid && sellerForm.get('nom')?.touched">
        le nom est obligatoire
    </p>
    
    <br>
    <br>
        <label for="prenom">Prénom :</label>
     <input type="text" formControlName="prenom" placeholder="prenom">
    <p *ngIf="sellerForm.get('prenom')?.invalid && sellerForm.get('prenom')?.touched">
        le prenom est obligatoire
    </p>

    <br>
    <br>
        <label for="">Téléphone :</label>
     <input type="tel" formControlName="telephone" placeholder="telephone">
    <p *ngIf="sellerForm.get('telephone')?.invalid && sellerForm.get('telephone')?.touched">
        Veuillez entrer un numéro valide
    </p>

    <br>
    <br>

        <label for="email">Email :</label>
    <input type="email" formControlName="email" placeholder="email">
    <br>
    <br>

        <label for="adresse">Adresse :</label>
    <input type="text" formControlName="adresse" placeholder="adresse">

    <br>
    <br>

        <label for="photo" class="photo">Photo :</label>
    <input type="file" formControlName="photo" placeholder="photo" >
    <br>
    <br>


    <button type="submit" (click)="onSubmit()">Envoyer</button>


</form>

</div>